@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Quicksand:wght@300..700&family=Share+Tech&family=Special+Gothic+Expanded+One&display=swap');
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    padding: 20px;
}
header h1{
     font-family: 'Special Gothic Expanded One', cursive;
        font-size: 36px;
}
header span a{
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Special Gothic Expanded One', cursive;
}
main h3{
    text-align: center;
    margin-top: 40px;
    font-family: 'Cairo', sans-serif;
}
.ou {
    font-family: 'Special Gothic Expanded One', cursive;
    font-size: 50px;
}
main p {
    text-align: center;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
}
main p a {
    color: #000;
    font-family: 'Special Gothic Expanded One', cursive;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 2px #000;
}
main p a:hover {
    color: #000;
    font-family: 'Special Gothic Expanded One', cursive;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 2px #000;
    background-color: #000;
    color: #fff;
}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: #000 solid 2px;
    border-radius: 40px;
    width: 400px;
    margin: auto;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 20px;

}
main form div {
    margin-top: 20px; 
}

main form div input {
    margin-left: 50px ;
    font-family: 'Cairo', sans-serif;
    border: none;
    border-bottom: #000 solid 2px;
    outline: none;
}
main form textarea {
    font-family: 'Cairo', sans-serif;
    margin-left: 50px ;
    resize: none;
    border: none;
    border-bottom: #000 solid 2px;
    outline: none;
    
}
main form button {
    font-family: 'Special Gothic Expanded One', cursive;
    background-color: #000;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    width: 100px;
    margin-bottom: 10px;

}
main form button:hover {
    font-family: 'Special Gothic Expanded One', cursive;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100px;
    border: solid 2px #000; 
}


footer{
    text-align: center;
    margin-top: 100px;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}