@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Quicksand:wght@300..700&family=Share+Tech&family=Special+Gothic+Expanded+One&display=swap');
body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    padding: 20px 40px;
     font-family: 'Special Gothic Expanded One', cursive;
    display: flex;
    text-align: left;
    margin-top: 20px;
}
header a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;

}
header a:hover {
    color: #000000;
    text-decoration: none;
    border-bottom: solid 2px #000;
    margin-left: 20px;

}
main {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0px 60px 60px 60px;
}
main h2 {
    font-family: 'Share Tech', sans-serif;
    font-size: 40px;

}
main h1{
        font-family: 'Special Gothic Expanded One', cursive;
        font-size: 80px;
        padding-bottom: 20px;
        
}

span.h3 {
font-family: 'Special Gothic Expanded One', cursive;
    font-size: 19px;
    color: rgb(0, 0, 0);
}
footer {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100px;

}
i {
    font-size: 30px;
}