body {
  font-family: Arial, sans-serif;
  background-color: #83627c;
}

.container {
  background-color: rgb(255, 255, 255);
  color: #bdace6;
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  border: 10px solid #4b13cf;
  border-radius: 100px;
  box-sizing: border-box;
  text-align: center;
}